/* src/Header.css */
.header {
    background-color: #1728e3;
    padding: 1rem;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    
    
  }
  
  .nav-list li {
    margin: 0 15px;
    list-style: none;
  }
  
  
  
 
  